@import 'utils';
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    #back {
        color: $oc-gray-2;
        font-size: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }    
    #title {
        font-size: 25px;
        font-weight: 600;
        color: $oc-gray-0;
    }
    @include media('<large') {
        #title {
            font-size: 17px;
            font-weight: none;
        }
        #back {
            font-size: 17px;
        }   
    }
    @include media('<medium') {
        #title {
            font-size: 14px;
            font-weight: none;
        }
        #back {
            font-size: 14px;
        }   
    }
    @include media('<small') {
        #title {
            font-size: 12px;
            font-weight: none;
        }
        #back {
            font-size: 12px;
        }   
    }
}