@import 'utils';
.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 0.2em);
    background-image: url('../img/search.jpg');
    background-size: cover;
    background-position: top;
    .overlay {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.2);
        .header {
            width: 100%;
            height: 200px;
            z-index: 5;
        }
    }
    @include media('<medium') {
        display: none;
    }
}
