@import 'utils';
.container_outer {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    &:hover {
        color: $oc-gray-0;
        display: flex;
        opacity: 1;
        justify-content: space-between;
        width: 100vw;
        height: 40px;
        background: linear-gradient(to right, $oc-indigo-9, $oc-indigo-7);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
    }
}
.container_inner_left{
    display: flex;
    justify-content: flex-start;
}
.container_inner_right{
    display: flex;
    justify-content: flex-end;
}