@import 'utils';
.review {
    background: linear-gradient(to right, $oc-gray-1, $oc-gray-0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    margin-bottom: 0.2em;
    &:before {
        content: '';
        position: absolute;
        top:0;
        left:0;
        border-left-color: $oc-green-5;
        border-left-width: 5px;
        width: 5px;
    }
    .cancel {
        font-size: 13px;
        color: $oc-red-7;
        cursor: pointer;
        margin-right: 0.2em;
        &:hover {
            text-decoration: underline;
        }
    }
    .edit {
        font-size: 13px;
        color: $oc-yellow-7;
        cursor: pointer;
        margin-right: 0.2em;
        &:hover {
            text-decoration: underline;
        }
    }
    .review_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .review_footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    p {
        color: $oc-gray-7;
        font-size: 11px;
        display: inline-block
    }
    textarea {
        background: transparent;
        outline: none;
        border: none;
    }
}
