@import 'utils';
.review {
    background: linear-gradient(to right, $oc-gray-4, $oc-gray-3);
    border-left: 10px solid $oc-green-7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    margin-bottom: 0.2em;
    &.users {
        border-left-color: $oc-blue-8;
    }
    .cancel {
        font-size: 13px;
        color: $oc-red-7;
        cursor: pointer;
        margin-right: 0.2em;
        &:hover {
            text-decoration: underline;
        }
    }
    .delete {
        font-size: 13px;
        color: $oc-red-9;
        cursor: pointer;
        margin-right: 0.2em;
        &:hover {
            text-decoration: underline;
        }
    }
    .edit {
        font-size: 13px;
        color: $oc-yellow-7;
        cursor: pointer;
        margin-right: 0.2em;
        &:hover {
            text-decoration: underline;
        }
    }
    .review_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .review_footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .para, .email {
        color: $oc-gray-9;
        font-size: 11px;
        display: inline-block
    }
}
